body {
  margin: 0;
  display: block;
}

#hosts {
  min-width: 200px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li .host {
  position: relative;
}

li .info {
  display: block;
  padding-left: 40px;
}

li .action {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
}

li .action .btn {
  align-self: center;
  background: #e2e2e2 center center;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

li.active .action .btn {
  background: #60c05f;
}

li .host-id {
  font-weight: bold;
}

li:hover, li.active {
  background: #f2f2f2;
}

li:hover {
  cursor: pointer;
}
